@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
  }

  .courgette-regular {
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --color-1: #9F2B00;
    --textBlack: black;
    --textWhite: white;
    --color-2: #C05E23;
    --color-3: #FF7E20;
    --gradient: linear-gradient(to bottom, #9F2B00, #FF7E20);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 12px;
    
  }

  body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

 

  /* nav styling */

  nav {
    height: 150px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
  }

  .navLogo {
    margin-right: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 5%

  }

  .navLogo img {
    width: 100px;
  }
  .navLogo .logoHeader {
    font-size: 12px;
  }

  .menuContainer {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 5%;
  }

  .linksContainer {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  nav .linksContainer a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--textBlack);
    font-size: 1.25rem;
  }

  nav .linksContainer a:hover {
    text-decoration: underline;
  }

  .dropdownWrapper {
    position: relative;
    height: 15%;
    width: 70px;
    display: flex;
    align-items: center;
    overflow: visible;
  }


  /* Submenu */
  .ceoUL {
      list-style: none;
      position: absolute;
      top: 100%;
      left: -40%;
      min-width: 150px;
      display: none;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      z-index: 1000;
  }

  .ceoUL li a {
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      color: #000;
      font-size: 1.25rem;
      text-align: center;
  }

  .ceoUL li a:hover {
    text-decoration: underline;
  }

  /* Hover trigger */
 .dropdownWrapper:hover .ceoUL {
    display: block;
  }
 

  #sidebar-active {
    display: none;
  }

  .openBtn, .closeBtn {
    display: none;
  }

  /* main styling */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
}

.mainTitle {
  width: 100%;
  height: 50px;
  font-size: 1.50rem;
  text-align: center;
  color: var(--color-3);
}

.policyContainer {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.policyContainer p {
  width: 90%;
  font-size: 1.40rem;
  padding-left: 100px;
}

.policyContainer ul {
  padding-left: 100px;
}

.policyContainer ul li{
  margin-left: 30px;
  font-size: 1.40rem;
}


.policyContainer h3 {
  width: 100%;
  padding-left: 100px;
  padding-top: 20px;
  font-size: 1.60rem;
  color: var(--color-3);
}


/* styling footer section */
footer {
  width: 100%;
  height: 270px;
}

.footerContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer .footerLogo {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer .footerLogo .imgContainer {
  width: 100px;
  height: 100px;
}

.footerContainer .footerLogo .imgContainer img {
  width: 100%;
}

.footerContainer .footerLogo h4 {
  font-size: 1.25rem;
}

.footerContainer .footerLogo h4 a {
  color: var(--textBlack);
  text-decoration: none;
}

.footerContainer .footerLogo h4 a:hover {
  text-decoration: underline;
} 

.footerContainer .footerNav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.25rem;
}

.footerContainer .footerNav a {
  color: black;
  text-decoration: none;
}

.footerContainer .footerNav a:hover {
  text-decoration: underline;
}

.footerContainer .footerCopyRights {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footerContainer .footerCopyRights a {
  color: var(--textBlack);
  text-decoration: none;
}

.footerContainer .footerCopyRights a:hover {
  text-decoration: underline;
}

@media(max-width: 1150px) {
    .policyContainer {
        height: 1300px;
    }
}


@media(max-width: 1000px) {
    .policyContainer {
        height: 1450px;
    }
}


@media(max-width: 850px) {
    nav .linksContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-3);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.25s ease-in-out;
        overflow: hidden;
    
    }

    .navLogo  {
        left: 0%;
    }

    nav .linksContainer a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        color: var(--textWhite);
    }

    .dropdownWrapper {
        height: 5%;
        width: 30%;
    }

    .ceoUL {
        background-color: white;
        color: black;
        width: 130px;
        height: 50px;
        position: relative;
        left: -110%;
        
    }

    .ceoUL li a {
        color: black;
        text-align: center;
        font-size: 1.05rem;
    }

    .openBtn, .closeBtn {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .linksContainer {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        background-color:  rgba(0, 0, 0, 0.25);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .policyContainer {
        height: 1600px;
    }
}


@media(max-width: 740px) {

    .policyContainer h3 {
        padding-left: 0;
    }
    
    .policyContainer p {
        padding-left: 0;
        width: 100%;
    }

    .policyContainer ul {
        padding-left: 0;
    }

    .policyContainer ul li{
        margin-left: 30px;
        font-size: 1.40rem;
    }
}

@media(max-width: 570px) {
    .policyContainer {
        height: 1800px;
    }
}

@media(max-width: 500px) {
    .policyContainer {
        height: 2000px;
    }
}

@media(max-width: 430px) {
    .policyContainer {
        height: 2250px;
    }
}
